
.text-svg{
    position: absolute;
    z-index: -1;
}

#svg-title{
    top: 20px;
    left: 300px;
    font-family: butcherman-caps, sans-serif;
    font-size: 7em;
    stroke-width: 2px;
    stroke: black;
    letter-spacing: -0.2em;
    // -webkit-filter: drop-shadow(10px 10px 0px #fee9ae);

    text{
        @include transform(translateY(90px));
    }
}

#svg-clak{
    top: 100px;
    left: 100px;
    font-family: sue-ellen-francisco, sans-serif;
    font-size: 7em;
    fill: #bfe0b8;
    stroke-width: 4px;
    stroke: black;
}

#svg-grr{
    top: 300px;
    left: 50px;
    font-family: creepster, sans-serif;
    font-size: 5em;
    fill: #feea60;
    stroke-width: 4px;
    stroke: black;
}

#svg-beep{

    text{
        font-family: chango, sans-serif;
        font-size: 2rem;
        stroke-width: 2;
        stroke-meterlimit: 10;
        stroke: #000000;
    }

    .svg-beep-fill{
        fill: #B9E5FA;
    }

    .svg-beep-shadow{
        transform: translateY(3px);
    }

    .svg-beep-g{
        transform: translate(800px, 250px) rotate(-13deg) scale(1.5);
    }

    .svg-beep-2{
        transform: translateY(30px);
    }
}

#svg-aaa{
    .svg-aaa-bubble{
        transform: translate(0px, 60px);
    }

    .svg-aaa-g{
        transform: translate(40px, 150px);
    }

    text{
        fill: #231F20; 
        stroke: #FFFFFF; 
        stroke-width: 2;
        stroke-linejoin: round; 
        stroke-miterlimit: 10; 
        font-family: bangers, sans-serif;
        font-style: italic;
        font-size: 3rem;
        transform: rotate(-10deg);

        &.svg-aaa-back{
            stroke: #231F20; 
            stroke-width: 7;
        }
    }

    tspan:nth-child(2) {
        transform: translateY(3px);
    }
}

.svg-chomp{
    text{
        fill: #d1222a;
        stroke: black;
        stroke-width: 1;
        font-size: 5rem;
        font-family: bangers, sans-serif;
        font-weight: bold;
    }
}

#svg-chomp{
    text{
        transform: translate(250px, 350px) rotate(10deg);
    }
}

#svg-chomp-2{
    text{
        font-size: 7rem;
        transform: translate(10px, 500px) rotate(-3deg);
    }
}

#svg-tac{

    .svg-tac-g{
        transform: translate(25px, 280px) rotate(-5deg);
    }

    text{
        fill: #fce75d;
        stroke: black;
        stroke-width: 3;
        font-size: 5rem;
        font-family: permanent-marker;
    }

    .svg-tac-shadow{
        fill: black;
        transform: translateY(4px);
    }
}

#svg-scrunch{
    text{
        fill: white;
        stroke: black;
        stroke-width: 3;
        font-family: permanent-marker;
        font-size: 3rem;
        transform: rotate(5deg) translate(100px, 530px);
    }
}

.svg-eeww{
    font-family: architects-daughter;
    font-size: 6rem;

    text{
        transform: translateY(50px);
    }
}

#svg-eeww-2{
    text{
        transform: translateX(-300px) translateY(50px);
    }
}

#svg-thud{

    text{
        fill: #c24155;
        stroke: black;
        stroke-width: 10;
        stroke-linejoin: round; 
        stroke-miterlimit: 10; 
        font-size: 8rem;
		font-family: chango, sans-serif;
        transform: translate(20px, 300px) rotate(-30deg) scale(0.95);
    }
}

#svg-zas{
    text{
        fill: #c0e0b7;
        stroke: black;
        stroke-width: 10;
        font-size: 8rem;
		font-family: chango, sans-serif;
        transform: translate(100px, 200px) rotate(-20deg);
    }
}

#svg-thud-2{
    text{
        fill: #fee33d;
        stroke: black;
        stroke-width: 4;
        font-size: 8rem;
		font-family: chango, sans-serif;
        transform: translate(0px, 240px);
    }
}
