/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "svg";
@import "bubbles";

@-webkit-keyframes dotone {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@-webkit-keyframes dottwo {
  25% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@-webkit-keyframes dotthree {
  50% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 1.1;
    text-transform: uppercase;
    cursor: pointer;
}

#debugger{
    position: fixed;
    padding: 1em;
    top: 0;
    left: 0;
    background: red;
    color: white;
    z-index: 1000;
}

#preloader{
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: #FBCA25;
    text-align: center;
    font-size: 2rem;
    font-family: gochi-hand, sans-serif;
	pointer-events: none;
	
    -mox-flex-direction: column;
	-moz-align-content: space-around;
	-moz-justify-content: center;
	-webkit-align-content: space-around;
	-webkit-justify-content: center;
    -webkit-flex-direction: column;
	align-content: space-around;
	justify-content: center;
    flex-direction: column;
	
    @include transform(translateZ(0));
	@include transition(opacity .4s);
	
	&.hide{
		opacity: 0;
	}

    .dot{
        &:nth-child(1) {
            -webkit-animation: dotone 1s infinite;
        }

        &:nth-child(2) {
            -webkit-animation: dottwo 1s infinite;
        }

        &:nth-child(3) {
            -webkit-animation: dotthree 1s infinite;
        }
    }
}

#preloader-svg{
	display: block;
}

#canvas-view{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#dom-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#dom-view{
    position: absolute;
    top: 0;
    left: 0;
}

.frame{
    position: absolute;
    opacity: 0;
	@include transition(none);

    &.in{
		@include transition(opacity .2s);
        opacity: 1;
    }
}

#credits{
    position: absolute;
    top: 140px;
    right: 20px;
    width: 250px;
    font-family: permanent-marker, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

#video{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 100;
	
	&.in{
		display: block;
	}
}
