/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "svg";
@import "bubbles";

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 1.1;
    text-transform: uppercase;
    cursor: pointer;
}

#debugger{
    position: fixed;
    padding: 1em;
    top: 0;
    left: 0;
    background: red;
    color: white;
    z-index: 1000;
}

#preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    @include transform(translateZ(0));
}

#canvas-view{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#dom-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#dom-view{
    position: absolute;
    top: 0;
    left: 0;
}

.frame{
    position: absolute;
    opacity: 0;

    &.in{
        opacity: 1;
    }
}

#credits{
    position: absolute;
    top: 140px;
    right: 20px;
    width: 250px;
    font-family: permanent-marker, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}
