/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 1.1;
    text-transform: uppercase;
    cursor: pointer;
}

#debugger{
    position: fixed;
    padding: 1em;
    top: 0;
    left: 0;
    background: red;
    color: white;
    z-index: 1000;
}

#preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    @include transform(translateZ(0));
}

#canvas-view{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#dom-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#dom-view{
    position: absolute;
    top: 0;
    left: 0;
}

.title{
    position: absolute;
    top: 20px;
    left: 300px;
    font-family: butcherman-caps, sans-serif;
    font-size: 7em;
    stroke-width: 2px;
    stroke: black;
    letter-spacing: -0.2em;
    // -webkit-filter: drop-shadow(10px 10px 0px #fee9ae);

    text{
        @include transform(translateY(90px));
    }
}

.clak{
    position: absolute;
    top: 100px;
    left: 100px;
    font-family: sue-ellen-francisco, sans-serif;
    font-size: 7em;
    fill: #bfe0b8;
    stroke-width: 4px;
    stroke: black;
}

.grr{
    position: absolute;
    top: 300px;
    left: 50px;
    font-family: creepster, sans-serif;
    font-size: 5em;
    fill: #feea60;
    stroke-width: 4px;
    stroke: black;
}

.frame{
    position: absolute;
    opacity: 0;

    &.in{
        opacity: 1;
    }
}

.bubble{
    position: absolute;
    font-size: 1.5rem;
    padding: 0.75em;
}

.bubble--square{
    font-family: permanent-marker, sans-serif;
    background: white;
    border: 3px solid black;
}

.bubble--round{
    padding: .5em;
    padding-top: 1em;
    // border: 3px solid black;
    // border-radius: 50%;
    font-family: gochi-hand, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    -webkit-shape-inside: ellipse(50%, 50%, 50%, 50%);
    // background: white;

    svg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.bubble-yellow{
    background: #fffbd2;
}

#bubble-one{
    top: 40px;
    left: 40px;
    width: 260px;
}

#bubble-two{
    top: 40px;
    left: 40px;
    width: 120px;
    height: 60px;
}

#bubble-three{
    top: 40px;
    left: 40px;
    width: 140px;
    height: 70px;
}

#bubble-four{
    top: 0px;
    left: 0px;
    width: 200px;
    height: 140px;
}

#bubble-five{
    top: 100px;
    left: 160px;
    width: 200px;
    height: 150px;
}

#bubble-six{
    top: 30px;
    left: 50px;
    width: 100px;
    font-size: 2.5rem;
    padding: .2em;
    line-height: 30px;
}

#bubble-seven{
    top: 30px;
    right: 50px;
    width: 200px;
    height: 120px;
}

#bubble-eight{
    top: 30px;
    left: 60px;
    width: 200px;
    height: 100px;
}

#bubble-nine{
    top: 30px;
    right: 50px;
    width: 200px;
    height: 100px;
}

#bubble-ten{
    top: 370px;
    right: 400px;
    width: 200px;
    height: 100px;
}

#bubble-eleven{
    top: 400px;
    right: 210px;
    width: 200px;
    // height: 100px;
    font-size: 3rem;
    border-width: 5px;
}

#bubble-twelve{
    position: absolute;
    top: 30px;
    right: 10px;
    max-width: 400px;
    font-weight: 100;
    font-family: gochi-hand, sans-serif;
    font-style: italic;
}

#bubble-13{
    top: 30px;
    right: 400px;
    width: 200px;
    height: 100px;
    font-size: 1.5rem;
}

#bubble-14{
    top: 170px;
    left: 30px;
    width: 200px;
    height: 100px;
    font-size: 1.5rem;
}

#bubble-15{
    top: 30px;
    right: 30px;
    width: 200px;
    height: 80px;
    font-size: 2rem;
}

#bubble-15-1{
    top: -10px;
    left: 0px;
    width: 200px;
    height: 70px;
}

#bubble-15-2{
    top: 60px;
    left: 140px;
    width: 130px;
    height: 70px;
}

#bubble-15-3{
    top: -10px;
    left: 220px;
    width: 200px;
    height: 70px;
}

#bubble-15-4{
    top: 70px;
    right: 30px;
    width: 190px;
    height: 130px;
}

#bubble-16-1{
    top: 0px;
    right: 260px;
    width: 130px;
    height: 70px;
}

#bubble-16-2{
    top: 10px;
    right: 160px;
    width: 100px;
    height: 60px;
}

#bubble-16-3{
    top: 100px;
    right: 30px;
    width: 70px;
    height: 30px;
}

#bubble-17-1{
    top: 10px;
    left: 30px;
    width: 130px;
    height: 70px;
}

#bubble-17-2{
    top: 100px;
    right: 230px;
    width: 150px;
    height: 100px;
}

#bubble-21-1{
    top: -20px;
    left: 20px;
    width: 270px;
}

#bubble-22-1{
    top: 100px;
    right: 230px;
    width: 170px;
    height: 120px;
}

#bubble-22-2{
    top: 260px;
    right: 300px;
    width: 150px;
    height: 100px;
}

#bubble-23-1{
    top: -10px;
    left: -10px;
    width: 250px;
    height: 120px;
}

#bubble-23-2{
    top: 120px;
    right: 60px;
    width: 150px;
    height: 60px;
}

#bubble-23-3{
    top: 200px;
    left: 10px;
    width: 120px;
    height: 50px;
}

#bubble-24-1{
    top: 20px;
    left: 170px;
    width: 150px;
    height: 70px;
}

#bubble-24-2{
    top: 120px;
    left: 60px;
    width: 150px;
    height: 70px;
}

#bubble-24-3{
    top: 200px;
    left: 200px;
    width: 100px;
    height: 30px;
}

#bubble-25-1{
    top: 0px;
    left: 0px;
    width: 250px;
    height: 70px;
}

#bubble-25-2{
    top: 80px;
    left: 0px;
    width: 170px;
    height: 110px;
}

#bubble-25-3{
    top: 130px;
    left: 150px;
    width: 140px;
    height: 130px;
}

#bubble-27-1{
    top: 10px;
    right: 10px;
    width: 200px;
    height: 80px;
}

#bubble-28-1{
    top: 0px;
    left: 0px;
    width: 200px;
    height: 80px;
}

#bubble-28-2{
    top: 40px;
    left: 180px;
    width: 160px;
    height: 100px;
}

#bubble-29-1{
    top: 20px;
    left: 10px;
    width: 220px;
    height: 130px;
}

#bubble-29-2{
    top: 380px;
    right: 10px;
    width: 100px;
    height: 50px;
}

#bubble-29-3{
    top: 440px;
    right: 10px;
    width: 170px;
    height: 110px;
}

#bubble-30-1{
    top: 20px;
    left: 20px;
    width: 100px;
    height: 50px;
}

#bubble-30-2{
    top: 100px;
    right: 20px;
    width: 70px;
    height: 50px;
}

#bubble-31-1{
    top: 20px;
    left: 20px;
    width: 200px;
    height: 130px;
    padding: 1.5em;
}

#bubble-32-1{
    top: 20px;
    left: 170px;
    width: 170px;
    height: 80px;
}

#bubble-33-1{
    top: 20px;
    left: 170px;
    width: 130px;
    height: 80px;
}

#bubble-34-1{
    top: 20px;
    left: 20px;
    width: 330px;
}

#bubble-34-2{
    top: 250px;
    left: 170px;
    width: 240px;
    height: 140px;
    font-size: 1.5rem;
    padding: 1.2em;
}

#bubble-35-1{
    top: 10px;
    left: 10px;
    width: 240px;
    height: 130px;
    padding: 1.2em;
}

#bubble-35-2{
    top: 50px;
    left: 280px;
    width: 160px;
    height: 70px;
}

#bubble-36-1{
    top: 10px;
    left: 10px;
    width: 240px;
    height: 130px;
    padding: 1.2em;
}

#bubble-36-2{
    top: 50px;
    left: 280px;
    width: 160px;
    height: 90px;
}

#bubble-37-1{
    top: 50px;
    left: 20px;
    width: 240px;
    font-size: 1em;
}

#bubble-37-2{
    top: 150px;
    left: 180px;
    width: 160px;
    height: 90px;
}

#bubble-38-1{
    top: 60px;
    left: 20px;
    width: 160px;
    font-size: 1em;
}

#bubble-38-2{
    top: 150px;
    right: 20px;
    width: 160px;
    padding: 1em;
}

#bubble-38-3{
    top: 260px;
    left: 20px;
}

#bubble-39-1{
    top: 20px;
    left: 20px;
    width: 160px;
    height: 30px;
}

#bubble-39-2{
    top: 150px;
    left: 180px;
}

#bubble-40-1{
    top: 20px;
    left: 20px;
    width: 350px;
}

#bubble-41-1{
    top: 50px;
    left: 70px;
    width: 150px;
    height: 80px;
}

#bubble-42-1{
    top: 10px;
    left: 10px;
    width: 130px;
    height: 60px;
}

#bubble-42-2{
    top: 80px;
    left: 10px;
    width: 120px;
    height: 50px;
}

#bubble-42-3{
    top: 50px;
    right: 30px;
    width: 80px;
    height: 30px;
}

#bubble-43-1{
    top: 0px;
    left: 0px;
    width: 120px;
    height: 70px;
}

#bubble-43-2{
    top: 0px;
    right: 0px;
    width: 140px;
    height: 80px;
}

#bubble-44-1{
    top: 0px;
    left: 0px;
    width: 120px;
    height: 70px;
}

#bubble-44-2{
    top: 0px;
    left: 120px;
    width: 130px;
    height: 80px;
}

#bubble-44-3{
    top: 20px;
    right: 10px;
    width: 160px;
    height: 80px;
}



#credits{
    position: absolute;
    top: 140px;
    right: 20px;
    width: 250px;
    font-family: permanent-marker, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}
