/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 1.1;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 19, ../sass/screen.scss */
#debugger {
  position: fixed;
  padding: 1em;
  top: 0;
  left: 0;
  background: red;
  color: white;
  z-index: 1000;
}

/* line 29, ../sass/screen.scss */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 39, ../sass/screen.scss */
#canvas-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 47, ../sass/screen.scss */
#dom-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* line 56, ../sass/screen.scss */
#dom-view {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 62, ../sass/screen.scss */
.title {
  position: absolute;
  top: 20px;
  left: 300px;
  font-family: butcherman-caps, sans-serif;
  font-size: 7em;
  stroke-width: 2px;
  stroke: black;
  letter-spacing: -0.2em;
}
/* line 73, ../sass/screen.scss */
.title text {
  -webkit-transform: translateY(90px);
  -moz-transform: translateY(90px);
  -ms-transform: translateY(90px);
  -o-transform: translateY(90px);
  transform: translateY(90px);
}

/* line 78, ../sass/screen.scss */
.clak {
  position: absolute;
  top: 100px;
  left: 100px;
  font-family: sue-ellen-francisco, sans-serif;
  font-size: 7em;
  fill: #bfe0b8;
  stroke-width: 4px;
  stroke: black;
}

/* line 89, ../sass/screen.scss */
.grr {
  position: absolute;
  top: 300px;
  left: 50px;
  font-family: creepster, sans-serif;
  font-size: 5em;
  fill: #feea60;
  stroke-width: 4px;
  stroke: black;
}

/* line 100, ../sass/screen.scss */
.frame {
  position: absolute;
  opacity: 0;
}
/* line 104, ../sass/screen.scss */
.frame.in {
  opacity: 1;
}

/* line 109, ../sass/screen.scss */
.bubble {
  position: absolute;
  font-size: 1.5rem;
  padding: 0.75em;
}

/* line 115, ../sass/screen.scss */
.bubble--square {
  font-family: permanent-marker, sans-serif;
  background: white;
  border: 3px solid black;
}

/* line 121, ../sass/screen.scss */
.bubble--round {
  padding: .5em;
  padding-top: 1em;
  font-family: gochi-hand, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  -webkit-shape-inside: ellipse(50%, 50%, 50%, 50%);
}
/* line 132, ../sass/screen.scss */
.bubble--round svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 140, ../sass/screen.scss */
.bubble-yellow {
  background: #fffbd2;
}

/* line 144, ../sass/screen.scss */
#bubble-one {
  top: 40px;
  left: 40px;
  width: 260px;
}

/* line 150, ../sass/screen.scss */
#bubble-two {
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
}

/* line 157, ../sass/screen.scss */
#bubble-three {
  top: 40px;
  left: 40px;
  width: 140px;
  height: 70px;
}

/* line 164, ../sass/screen.scss */
#bubble-four {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 140px;
}

/* line 171, ../sass/screen.scss */
#bubble-five {
  top: 100px;
  left: 160px;
  width: 200px;
  height: 150px;
}

/* line 178, ../sass/screen.scss */
#bubble-six {
  top: 30px;
  left: 50px;
  width: 100px;
  font-size: 2.5rem;
  padding: .2em;
  line-height: 30px;
}

/* line 187, ../sass/screen.scss */
#bubble-seven {
  top: 30px;
  right: 50px;
  width: 200px;
  height: 120px;
}

/* line 194, ../sass/screen.scss */
#bubble-eight {
  top: 30px;
  left: 60px;
  width: 200px;
  height: 100px;
}

/* line 201, ../sass/screen.scss */
#bubble-nine {
  top: 30px;
  right: 50px;
  width: 200px;
  height: 100px;
}

/* line 208, ../sass/screen.scss */
#bubble-ten {
  top: 370px;
  right: 400px;
  width: 200px;
  height: 100px;
}

/* line 215, ../sass/screen.scss */
#bubble-eleven {
  top: 400px;
  right: 210px;
  width: 200px;
  font-size: 3rem;
  border-width: 5px;
}

/* line 224, ../sass/screen.scss */
#bubble-twelve {
  position: absolute;
  top: 30px;
  right: 10px;
  max-width: 400px;
  font-weight: 100;
  font-family: gochi-hand, sans-serif;
  font-style: italic;
}

/* line 234, ../sass/screen.scss */
#bubble-13 {
  top: 30px;
  right: 400px;
  width: 200px;
  height: 100px;
  font-size: 1.5rem;
}

/* line 242, ../sass/screen.scss */
#bubble-14 {
  top: 170px;
  left: 30px;
  width: 200px;
  height: 100px;
  font-size: 1.5rem;
}

/* line 250, ../sass/screen.scss */
#bubble-15 {
  top: 30px;
  right: 30px;
  width: 200px;
  height: 80px;
  font-size: 2rem;
}

/* line 258, ../sass/screen.scss */
#bubble-15-1 {
  top: -10px;
  left: 0px;
  width: 200px;
  height: 70px;
}

/* line 265, ../sass/screen.scss */
#bubble-15-2 {
  top: 60px;
  left: 140px;
  width: 130px;
  height: 70px;
}

/* line 272, ../sass/screen.scss */
#bubble-15-3 {
  top: -10px;
  left: 220px;
  width: 200px;
  height: 70px;
}

/* line 279, ../sass/screen.scss */
#bubble-15-4 {
  top: 70px;
  right: 30px;
  width: 190px;
  height: 130px;
}

/* line 286, ../sass/screen.scss */
#bubble-16-1 {
  top: 0px;
  right: 260px;
  width: 130px;
  height: 70px;
}

/* line 293, ../sass/screen.scss */
#bubble-16-2 {
  top: 10px;
  right: 160px;
  width: 100px;
  height: 60px;
}

/* line 300, ../sass/screen.scss */
#bubble-16-3 {
  top: 100px;
  right: 30px;
  width: 70px;
  height: 30px;
}

/* line 307, ../sass/screen.scss */
#bubble-17-1 {
  top: 10px;
  left: 30px;
  width: 130px;
  height: 70px;
}

/* line 314, ../sass/screen.scss */
#bubble-17-2 {
  top: 100px;
  right: 230px;
  width: 150px;
  height: 100px;
}

/* line 321, ../sass/screen.scss */
#bubble-21-1 {
  top: -20px;
  left: 20px;
  width: 270px;
}

/* line 327, ../sass/screen.scss */
#bubble-22-1 {
  top: 100px;
  right: 230px;
  width: 170px;
  height: 120px;
}

/* line 334, ../sass/screen.scss */
#bubble-22-2 {
  top: 260px;
  right: 300px;
  width: 150px;
  height: 100px;
}

/* line 341, ../sass/screen.scss */
#bubble-23-1 {
  top: -10px;
  left: -10px;
  width: 250px;
  height: 120px;
}

/* line 348, ../sass/screen.scss */
#bubble-23-2 {
  top: 120px;
  right: 60px;
  width: 150px;
  height: 60px;
}

/* line 355, ../sass/screen.scss */
#bubble-23-3 {
  top: 200px;
  left: 10px;
  width: 120px;
  height: 50px;
}

/* line 362, ../sass/screen.scss */
#bubble-24-1 {
  top: 20px;
  left: 170px;
  width: 150px;
  height: 70px;
}

/* line 369, ../sass/screen.scss */
#bubble-24-2 {
  top: 120px;
  left: 60px;
  width: 150px;
  height: 70px;
}

/* line 376, ../sass/screen.scss */
#bubble-24-3 {
  top: 200px;
  left: 200px;
  width: 100px;
  height: 30px;
}

/* line 383, ../sass/screen.scss */
#bubble-25-1 {
  top: 0px;
  left: 0px;
  width: 250px;
  height: 70px;
}

/* line 390, ../sass/screen.scss */
#bubble-25-2 {
  top: 80px;
  left: 0px;
  width: 170px;
  height: 110px;
}

/* line 397, ../sass/screen.scss */
#bubble-25-3 {
  top: 130px;
  left: 150px;
  width: 140px;
  height: 130px;
}

/* line 404, ../sass/screen.scss */
#bubble-27-1 {
  top: 10px;
  right: 10px;
  width: 200px;
  height: 80px;
}

/* line 411, ../sass/screen.scss */
#bubble-28-1 {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 80px;
}

/* line 418, ../sass/screen.scss */
#bubble-28-2 {
  top: 40px;
  left: 180px;
  width: 160px;
  height: 100px;
}

/* line 425, ../sass/screen.scss */
#bubble-29-1 {
  top: 20px;
  left: 10px;
  width: 220px;
  height: 130px;
}

/* line 432, ../sass/screen.scss */
#bubble-29-2 {
  top: 380px;
  right: 10px;
  width: 100px;
  height: 50px;
}

/* line 439, ../sass/screen.scss */
#bubble-29-3 {
  top: 440px;
  right: 10px;
  width: 170px;
  height: 110px;
}

/* line 446, ../sass/screen.scss */
#bubble-30-1 {
  top: 20px;
  left: 20px;
  width: 100px;
  height: 50px;
}

/* line 453, ../sass/screen.scss */
#bubble-30-2 {
  top: 100px;
  right: 20px;
  width: 70px;
  height: 50px;
}

/* line 460, ../sass/screen.scss */
#bubble-31-1 {
  top: 20px;
  left: 20px;
  width: 200px;
  height: 130px;
  padding: 1.5em;
}

/* line 468, ../sass/screen.scss */
#bubble-32-1 {
  top: 20px;
  left: 170px;
  width: 170px;
  height: 80px;
}

/* line 475, ../sass/screen.scss */
#bubble-33-1 {
  top: 20px;
  left: 170px;
  width: 130px;
  height: 80px;
}

/* line 482, ../sass/screen.scss */
#bubble-34-1 {
  top: 20px;
  left: 20px;
  width: 330px;
}

/* line 488, ../sass/screen.scss */
#bubble-34-2 {
  top: 250px;
  left: 170px;
  width: 240px;
  height: 140px;
  font-size: 1.5rem;
  padding: 1.2em;
}

/* line 497, ../sass/screen.scss */
#bubble-35-1 {
  top: 10px;
  left: 10px;
  width: 240px;
  height: 130px;
  padding: 1.2em;
}

/* line 505, ../sass/screen.scss */
#bubble-35-2 {
  top: 50px;
  left: 280px;
  width: 160px;
  height: 70px;
}

/* line 512, ../sass/screen.scss */
#bubble-36-1 {
  top: 10px;
  left: 10px;
  width: 240px;
  height: 130px;
  padding: 1.2em;
}

/* line 520, ../sass/screen.scss */
#bubble-36-2 {
  top: 50px;
  left: 280px;
  width: 160px;
  height: 90px;
}

/* line 527, ../sass/screen.scss */
#bubble-37-1 {
  top: 50px;
  left: 20px;
  width: 240px;
  font-size: 1em;
}

/* line 534, ../sass/screen.scss */
#bubble-37-2 {
  top: 150px;
  left: 180px;
  width: 160px;
  height: 90px;
}

/* line 541, ../sass/screen.scss */
#bubble-38-1 {
  top: 60px;
  left: 20px;
  width: 160px;
  font-size: 1em;
}

/* line 548, ../sass/screen.scss */
#bubble-38-2 {
  top: 150px;
  right: 20px;
  width: 160px;
  padding: 1em;
}

/* line 555, ../sass/screen.scss */
#bubble-38-3 {
  top: 260px;
  left: 20px;
}

/* line 560, ../sass/screen.scss */
#bubble-39-1 {
  top: 20px;
  left: 20px;
  width: 160px;
  height: 30px;
}

/* line 567, ../sass/screen.scss */
#bubble-39-2 {
  top: 150px;
  left: 180px;
}

/* line 572, ../sass/screen.scss */
#bubble-40-1 {
  top: 20px;
  left: 20px;
  width: 350px;
}

/* line 578, ../sass/screen.scss */
#bubble-41-1 {
  top: 50px;
  left: 70px;
  width: 150px;
  height: 80px;
}

/* line 585, ../sass/screen.scss */
#bubble-42-1 {
  top: 10px;
  left: 10px;
  width: 130px;
  height: 60px;
}

/* line 592, ../sass/screen.scss */
#bubble-42-2 {
  top: 80px;
  left: 10px;
  width: 120px;
  height: 50px;
}

/* line 599, ../sass/screen.scss */
#bubble-42-3 {
  top: 50px;
  right: 30px;
  width: 80px;
  height: 30px;
}

/* line 606, ../sass/screen.scss */
#bubble-43-1 {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 70px;
}

/* line 613, ../sass/screen.scss */
#bubble-43-2 {
  top: 0px;
  right: 0px;
  width: 140px;
  height: 80px;
}

/* line 620, ../sass/screen.scss */
#bubble-44-1 {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 70px;
}

/* line 627, ../sass/screen.scss */
#bubble-44-2 {
  top: 0px;
  left: 120px;
  width: 130px;
  height: 80px;
}

/* line 634, ../sass/screen.scss */
#bubble-44-3 {
  top: 20px;
  right: 10px;
  width: 160px;
  height: 80px;
}

/* line 643, ../sass/screen.scss */
#credits {
  position: absolute;
  top: 140px;
  right: 20px;
  width: 250px;
  font-family: permanent-marker, sans-serif;
  font-size: 1.1rem;
  text-align: center;
}
